*{
    margin:0;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
#burger{
    display: none;
}
h3,p, a{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
h2{
    font-family: "Oswald", sans-serif;
}

header{
    max-width: 1440px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    gap:15px;
    flex-wrap: wrap;
    align-items: center;
   
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 16px;
}
header a img{
    width:268px;
}
header nav ul a{
    color: #423B73;
}

.active{
    color: #30CD8A;
}


.E-learning{
  color: #E34E67;
}

#submenu{
    display: none;

}
#acc:hover #submenu{
    background-color: white;
    display: grid;
    list-style: none;
    gap: 15px;
    position: absolute;
    padding: 15px 0;


}


#section1{
    max-width: 1440px;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 600px;
    padding: 50px 50px;
}
.div1{
    margin-right: 40px;
    margin-left: 50px;
   align-self: center;
}
.div1 h2{
    font-family: "Pacifico", sans-serif;
    color: #E34E67;
}
.div1 h3{
    font-size: 38px;
    font-weight: bold;
    color: #423B73;
}
.div1 p{
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.btn{
    display: flex;
    gap: 20px;  
    margin-top: 50px; 

}

.btn1{
    color: #FFFFFF;
    background-color: #30CD8A;
    border: 1px solid #30CD8A;
    border-color: #30CD8A;
    font-size: 16px;
    padding: 6px 28px;
    gap: 10px;
    width: fit-content;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.btn2{
    font-size: 16px;
    color: #30CD8A;
    border: 1px solid #30CD8A;
    padding: 6px 28px;
    gap: 10px;
    width: fit-content;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
#section1 img{
   max-width: 700px;
   width: 90%;
}

#section2 {
    background-color: #1E1D31;
    padding: 100px;

    

}
#section2 #ci1{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#section2 h2{
    color: #30CD8A;
    font-size: 16px;
}
.art2{
    display: flex;
}
.art2 div{
    padding-left: 10px;
}
.art0{
    padding-left: 70px;
}

#section2 h2{
    padding-bottom: 10px;
}
#section2 p{
    color: #FFFFFF;
    flex-wrap: wrap;
    width: 80%;
}

.art2 img{
    max-width: 83px;
    height: 63px;
    width: 63px;
}
.art3{
    display: flex;
}
.art3 div{
    padding-left: 10px;
}
.art3 img{
    max-width: 83px;
    height: 63px;
    width: 63px;
}
.art4{
    display: flex;
}
.art4 div{
    padding-left: 10px;
}
.art4 img{
    max-width: 83px;
    height: 63px;
    width: 63px;
}
.btn3 {
    font-size: 16px;
    color: #30CD8A;
    border: 1px solid #30CD8A;
    padding: 6px 28px;
    gap: 10px;
    width: fit-content;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    /* Pour centrer un bouton */
    margin: auto;
    grid-column: 1/3;

}

#section3{
    max-width: 1440px;
    margin: auto;
    margin-bottom: 50px;
}
#section3 .artsec3{
   text-align: center;
    flex-wrap: wrap;
    margin: 70px 385px;
    justify-self: center;
}
#section3 h2{
    font-family: "Pacifico", sans-serif;
    color: #E34E67;
    font-size: 23px;

}
#section3 h3{
    font-family: "Oswald", sans-serif;
    color: #423B73;
    font-size: 38px;
}
#section3 p{
    color: #423B73;
}

#section3 div{
    display: flex;
    gap: 30px;
}

.p2{
    background-color: #1E1D31;
    border-radius: 15px;
    border:  1px solid;
    padding:  40px;
    margin-top: 20px;
}
.p4{
    background-color: #1E1D31;
    border-radius: 15px;
    border:  1px solid;
    padding:  40px;
    margin-top: 20px;

}
#section31 .p2{
    color: #FFFFFF;
}
#section32 .p4{
    color: #FFFFFF;
}


#section31 .p1{
 color: #30CD8A;
}
#section32 .p3{
    color: #30CD8A;
}
#section4{
     max-width: 1440px;
    margin: auto;
    margin-bottom: 50px;
    

}
#section4 .art4{
    text-align: center;
    flex-wrap: wrap;
    margin: 70px 385px;
    justify-content: center;
}
#section4> .art4>  h2{
    font-family: "Pacifico", sans-serif;
    color: #E34E67;
    font-size: 23px;

}
#section4 h3{
    font-family: "Oswald", sans-serif;
    color: #423B73;
    font-size: 38px;
}

#section4 .div00{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.artdiv00{
    background-color: #1E1D31;
    padding: 15px;
    border-radius: 15px;
    border:  1px solid;
    margin-top: 20px;
}
.div00> .artdiv00> h2{
    color: #30CD8A;
    font-family: "Oswald" sans-serif;
    font-size: 28px;

}
.div00 .artdiv00 p{
    color: #FFFFFF;
    margin-bottom: 10px;
}

.div00 .artdiv00 .art00 img{
   max-block-size: fit-content;

}
.artdiv00 .art00{
    gap: 10px;
    margin-top: 10px;
    display: flex;
}
#section4 .btn1{
    position: relative;
    display: block;
    width: fit-content;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    margin-top: 60px;

}


#section5{
     max-width: 1440px;
    margin: auto;
    margin-bottom: 50px;

}
#section5 .art4{
    text-align: center;
    flex-wrap: wrap;
    margin: 70px 385px;
    justify-content: center;
}
#section5> .art4>  h2{
    font-family: "Pacifico", sans-serif;
    color: #E34E67;
    font-size: 23px;

}
#section5 h3{
    font-family: "Oswald", sans-serif;
    color: #423B73;
    font-size: 38px;
}

#section5 .div00{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.artdiv00{
    background-color: #1E1D31;
    border-radius: 15px;
    border:  1px solid;
    margin-top: 20px;
}
.div00> .artdiv00> h2{
    color: #E34E67;
    font-family: "Oswald" sans-serif;
    font-size: 28px;

}
.div00 .artdiv00 p{
    color: #FFFFFF;
    margin-bottom: 10px;
}

.div00 .artdiv00 .art00 img{
   max-block-size: fit-content;

}
.artdiv00 .art00{
    gap: 10px;
    margin-top: 10px;
    display: flex;
}

#section5 .btn1{
    display: block;
    width: fit-content;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    margin-top: 60px;

}

#section6{
    max-width: 1440px;
    margin: auto;
    display: flex;
    gap: 40px;
    padding: 20px;
    margin-bottom: 50px;
}
#section6 article{
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;

}


#section6 h2{
    font-family: "Pacifico", sans-serif;
    color: #E34E67;
    font-size: 23px;
}

#section6 h3{
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  color: #423B73;

}
#section6 article p{
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        vertical-align: middle;
        margin-top: 20px;
        width: 80%;

}

#section6 form{
    max-width: 1440px;
    margin: auto;
    display: grid;
    gap: 20px;
    padding: 20px;
    background-color: #1E1D31;
    border-radius: 10px;
}
#section6 input, #section6 form textarea{
    border:1px solid #30CD8A;
    border-radius: 5px;
    padding: 12px;
    background-color: transparent;
    color:#FFFFFF;
    font-size: 16px;

}
#ouais{
    background-color: #1E1D31;
    color: #FFFFFF;
    border-color: #30CD8A;
    border-radius: 5px;
    padding:12px ;
    font-family:"Open Sans", sans-serif ;
    font-size: 16px;
    
}
#section6 form h4{
    font-size: 38px;
    font-family: "Oswald", sans-serif;
    color: #FFFFFF;
    text-align: center;
}
#section6 form article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

::placeholder{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color:#FFFFFF;
}

#section6 form div p{
    font-size: 18px;
    color:#FFFFFF;
    margin: 20px 0;
}

#section6 form div:last-of-type{
    display: block;
}

#section6 form input[type="submit"]{
    border-color:#30CD8A;
    background-color: #30CD8A;
    padding: 10px 22px;
    cursor: pointer;
    font-size: 21px;
    font-family: "Roboto", sans-serif;
    margin-top: 25px;
    color:#FFFFFF;
}
.check{
    height: fit-content;
    display: block;
    gap: 40px;
}
.check input label{
    height: 60% auto !important;
}
.check label{
    color:#FFFFFF;
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 35px;
}
footer{
      background-color: #363450;
}
footer .footer1{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;    
    color: #FFFFFF;
}
.footer1 h2{
    color:#FFFFFF ;
    margin-bottom: 20px;
    font-size: 16px;
}
.footer1  ul{
    text-decoration: none;
    list-style: none;
    padding: 0;
}
.footer1  ul li{
    margin-bottom: 15px;
}
.footer1 ul a{
    color: #FFFFFF;
    padding-bottom: 5px;

}


.copyright{
    background-color: #FFFFFF;
    color: #423B73;
     text-align: center;
    text-wrap-mode: nowrap;
    padding: 20px 15px;

}
.copyright a{
    color:#423B73;

}


/* Responsive tablette */
@media screen and (max-width:1024px){

    #burger{
        display: block;
 }
  header{
    justify-content: space-between;
  }
  header nav{
        display: none;
    }

    #section1 {
        grid-template-columns: 1fr;
    }

    #section1 img{
        align-items: center;
        margin-top: 50px;
    }
    #section4{
        grid-template-columns: 1fr;
    }
    #section4 .div00{
        grid-template-columns: 1fr;
    }
    #section5{
        grid-template-columns: 1fr;
    }
    #section5 .div00{
        grid-template-columns: 1fr;
    }
    .image22{
        width: 30%;
        justify-self: center;
        margin-top: 50px;
    }
   
}

/* Responsive mobile */
@media screen  and (max-width:767px){
    header a img{
        min-width: 0;
        width: 100%;
        padding: 30px;
    }
    #section2 #ci1{
        grid-template-columns: 1fr;
    }

}