*{
    margin:0;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
#burger{
    display: none;
}
h3,p, a{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
h2{
    font-family: "Oswald", sans-serif;
}

header{
    max-width: 1440px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    gap:15px;
    flex-wrap: wrap;
    align-items: center;
   
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 16px;
}
header a img{
    width:268px;
}
header nav ul a{
    color: #423B73;
}

.active{
    color: #30CD8A;
}


.E-learning{
  color: #E34E67;
}


#section1{
    max-width: 1440px;
    margin:auto;
    display: flex;
    justify-content: center;
    min-height: 600px;
    padding: 50px 50px;
}
.div1{
    margin-right: 40px;
    margin-left: 50px;
   align-self: center;
}
.div1 h2{
    font-family: "Pacifico", sans-serif;
    color: #E34E67;
}
.div1 h3{
    font-size: 38px;
    font-weight: bold;
    color: #423B73;
}
.div1 p{
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.btn{
    display: flex;
    gap: 20px;   

}

.btn1{
    color: #FFFFFF;
    background-color: #30CD8A;
    border: 1px solid #30CD8A;
    border-color: #30CD8A;
    font-size: 16px;
    padding: 6px 28px;
    gap: 10px;
    width: fit-content;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.btn2{
    font-size: 16px;
    color: #30CD8A;
    border: 1px solid #30CD8A;
    padding: 6px 28px;
    gap: 10px;
    width: fit-content;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.div1 img{
   max-width: 700px;
}

#section2{
    background-color: #1E1D31;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}
#section2 h2{
    color: #30CD8A;
    font-size: 16px;
}
.art2{
    display: flex;
}
.art2 div{
    padding-left: 10px;
}
.art0{
    padding-left: 70px;
}

#section2 h2{
    padding-bottom: 10px;
}
#section2 p{
    color: #FFFFFF;
    flex-wrap: wrap;
    width: 80%;
}

.art2 img{
    max-width: 83px;
    height: 63px;
    width: 63px;
}
.art3{
    display: flex;
}
.art3 div{
    padding-left: 10px;
}
.art3 img{
    max-width: 83px;
    height: 63px;
    width: 63px;
}
.art4{
    display: flex;
}
.art4 div{
    padding-left: 10px;
}
.art4 img{
    max-width: 83px;
    height: 63px;
    width: 63px;
}
.btn3 {
    font-size: 16px;
    color: #30CD8A;
    border: 1px solid #30CD8A;
    padding: 6px 28px;
    gap: 10px;
    width: fit-content;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    /* Pour centrer un bouton */
    margin: auto;
    grid-column: 1/3;

}

#section3{
    max-width: 1440px;
    margin: auto;
}
#section3 .artsec3{
   text-align: center;
    flex-wrap: wrap;
    margin: 70px 385px;
    justify-self: center;
}
#section3 h2{
    font-family: "Pacifico", sans-serif;
    color: #E34E67;
    font-size: 23px;

}
#section3 h3{
    font-family: "Oswald", sans-serif;
    color: #423B73;
    font-size: 38px;
}
#section3 p{
    color: #423B73;
}

#section3 div{
    display: flex;
}

.p1, .p2{

}


footer{
      background-color: #363450;
}
footer .footer1{
    max-width: 1440px;
    margin: auto 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;    
    color: #FFFFFF;
}
.footer1 h2{
    color:#FFFFFF ;
    margin-bottom: 20px;
    font-size: 16px;
}
.footer1  ul{
    text-decoration: none;
    list-style: none;
    padding: 0;
}
.footer1  ul li{
    margin-bottom: 15px;
}
.footer1 ul a{
    color: #FFFFFF;
    padding-bottom: 5px;

}


.copyright{
    background-color: #FFFFFF;
    color: #423B73;
     text-align: center;
    text-wrap-mode: nowrap;
    padding: 20px 15px;

}
.copyright a{
    color:#423B73;

}
@media screen and (max-width:1024px){

    #burger{
        display: block;
 }
  header{
    justify-content: space-between;
  }
  header nav{
        display: none;
    }


}